//

   User: Disi
   Date: 28.06.13
   Time: 16:21
div(id="node_pool_panel_el", class="x-hide-display")
    div#node_coursePlan
        div(data-shape="App.draw.metaElem.ModelMiddlePhase",
        class="palette_node_element draw2d_droppable coursePlan")
            img(src="/ui/img/svg/run_metaPhase_phase_en-US.svg", type="image/svg+xml", width="50px")
    div#node_courseActorOrg
        div(data-shape="App.draw.metaElem.Actor",
        class="palette_node_element draw2d_droppable coursePlan")
            img(src="/ui/img/svg/user_en-US.svg", type="image/svg+xml", width="50px")
    div#node_coursePhase
        div(data-shape="App.draw.metaElem.Activity",
        class="palette_node_element draw2d_droppable coursePhase")
            img(src="/ui/img/svg/setting_en-US.svg", type="image/svg+xml", width="50px")

        div(data-shape="App.draw.metaElem.Resource",
        class="palette_node_element draw2d_droppable coursePhase")
            img(src="/ui/img/svg/book_en-US.svg", type="image/svg+xml", width="50px")

        div(data-shape="App.draw.metaElem.Tool",
        class="palette_node_element draw2d_droppable coursePhase")
            img(src="/ui/img/svg/tool_en-US.svg", type="image/svg+xml", width="50px")

        div(data-shape="App.draw.metaElem.Actor",
        class="palette_node_element draw2d_droppable coursePhase")
            img(src="/ui/img/svg/user_en-US.svg", type="image/svg+xml", width="50px")

        div(data-shape="App.draw.metaElem.Artifact",
        class="palette_node_element draw2d_droppable coursePhase")
            img(src="/ui/img/svg/paper_1_en-US.svg", type="image/svg+xml", width="50px")

    div#node_courseActivityInstance
        div(data-shape="App.node.Artifact",
        class="palette_node_element draw2d_droppable metaPhase")
            img(src="/ui/img/svg/paper_1_en-US.svg", type="image/svg+xml", width="50px")
    div#node_metaPhase
        div(data-shape="App.draw.metaElem.Activity",
        class="palette_node_element draw2d_droppable metaPhase")
            img(src="/ui/img/svg/setting_en-US.svg", type="image/svg+xml", width="50px")

        div(data-shape="App.draw.metaElem.Resource",
        class="palette_node_element draw2d_droppable metaPhase")
            img(src="/ui/img/svg/book_en-US.svg", type="image/svg+xml", width="50px")

        div(data-shape="App.draw.metaElem.Tool",
        class="palette_node_element draw2d_droppable metaPhase")
            img(src="/ui/img/svg/tool_en-US.svg", type="image/svg+xml", width="50px")

        div(data-shape="App.draw.metaElem.Artifact",
        class="palette_node_element draw2d_droppable metaPhase")
            img(src="/ui/img/svg/paper_1_en-US.svg", type="image/svg+xml", width="50px")

    div#node_metaEnvironment
        div(data-shape="App.draw.metaElem.Resource",
        class="palette_node_element draw2d_droppable metaEnvironment")
            img(src="/ui/img/svg/book_en-US.svg", type="image/svg+xml", width="50px")
        div(data-shape="App.draw.metaElem.Tool",
        class="palette_node_element draw2d_droppable metaEnvironment")
            img(src="/ui/img/svg/tool_en-US.svg", type="image/svg+xml", width="50px")